/******************************************************************
Site Name:
Author:

Stylesheet: Desktop

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/

/*************************
 * POSTS & CONTENT
 ************************/

.has-both-sidebars #main {
	padding-left: 45px;
}

.has-both-sidebars #main {
	padding-right: 45px;
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.has-both-sidebars {
	.sidebar {
		margin-top: 0.5em;
	}
}

/*************************
 * FOOTER
 ************************/
