/******************************************************************
Site Name:
Author:

Stylesheet: Tablet

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/

/*************************
 * POSTS & CONTENT
 ************************/

.has-left-sidebar #main {
	padding-left: 45px;
}

.has-right-sidebar #main {
	padding-right: 45px;
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.has-left-sidebar,
.has-right-sidebar {
	.sidebar {
		margin-top: 0.5em;
	}
}

/*************************
 * FOOTER
 ************************/
