/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. Have fun!

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/

/*************************
 * POSTS & CONTENT
 ************************/

.has-left-sidebar,
.has-both-sidebars {
	padding-left: 45px;
}

.has-right-sidebar,
.has-both-sidebars {
	padding-right: 45px;
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.sidebar {
	margin-top: 0.5em;
}

/*************************
 * FOOTER
 ************************/
