/******************************************************************
Site Name:
Author:

Stylesheet: Small Mobile Device

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/

/*************************
 * POSTS & CONTENT
 ************************/

/*************************
 * FOOTER
 ************************/
