/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylesheet
and will be used across all viewports.

******************************************************************/

/*************************
 * GENERAL
 ************************/

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	height: auto;
	overflow-x: hidden;

	#container {
		height: 100%;

		// styles for mobile nav slide in
		position: relative;

		@include transition(all 0.25s ease-in-out);
	}
}

/*************************
 * HEADER
 ************************/

#masthead {}

#inner-header {
	padding: 1em 0;
}

#logo {
	float: left;

	&.h1 {
		margin: 0;
	}
}

#banner {
	display: none;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	.spacer {
		padding-top: 26%;

		// change this value based on the aspect ratio of your header image

	}
}

/*************************
 * POSTS & CONTENT
 ************************/

#content {}

#inner-content {
	padding: 2em 0;

	// headers
	.page-header {}

	.article-header {}

	// titles
	.page-title,
	.single-title {
		margin-top: 0;
	}

	.search-title {}

	// want to style individual post classes? Booya!
	.post-id {}

	// post by id (i.e. post-3)
	.post {}

	// general post style
	.page {}

	// general article on a page style
	.attachment {}

	// general style on an attatchment
	.sticky {}

	// sticky post style
	.hentry {}

	// hentry class
	.category-slug {}

	// style by category (i.e. category-videos)
	.tag-slug {}

	// style by tag (i.e. tag-news)

	/* post meta */
	.entry-meta {
		color: #999;

		time {}
	}

	.tags {
		.tags-title {
			color: #999;
		}
	}

	.categories {}

	// entry content
	.page-content {}

	.entry-content {}

	.archive-description {}

	// footers
	.page-footer {}

	.entry-footer {}
}

// Style individual templates
.home {}

.blog {}

.archive {}

.search {}

.error404 {}

.blog,
.archive,
.search {
	#inner-content {
		article {
			border-bottom: 1px solid #DDD;
			padding-top: 1em;
			padding-bottom: 1em;

			.entry-header {
				margin-top: 2em;
				margin-bottom: 1em;
			}

			.entry-title {
				margin: 0;
				// hyphenate long words
				overflow-wrap: break-word;
				word-wrap: break-word;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				-moz-hyphens: auto;
				hyphens: auto;
			}

			.entry-meta {
				margin: 0.5em 0 0;
			}

			.entry-content,
			.entry-footer {
				margin-top: -1em;
				margin-bottom: 1em;
			}

			&:first-child {
				.entry-header {
					margin-top: 0;
				}
			}

			&:only-child {
				border-bottom: 0;
			}
		}
	}
}

.single {
	#inner-content {
		.entry-meta {
			margin: -0.5em 0 1em;
		}
	}
}

/*************************
 * SIDEBARS & ASIDES
 ************************/

.sidebar {
	margin-top: 2em;
}

/*************************
 * FOOTER
 ************************/

#colophon {
	background-color: #111;
	clear: both;
	color: #999;
	font-size: 0.875em;

	.copyright {
		margin-bottom: 0;
		text-align: center;
	}
}

#inner-footer {
	padding: 2em 0;
}

ul.footer-menu {
	margin: 0 1px;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 -1px;
		padding: 0;

		a {
			border-left: 1px solid #999;
			color: #999;
			display: block;
			line-height: 1;
			padding: 0 0.675em;
		}

		&:first-child {
			a {
				padding-left: 0;
				border-left: 0;
			}
		}

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}

	ul.sub-menu {
		display: none;

		// hide child ul as design does not support it

	}
}

// scroll to top link
#back-top {
	bottom: 10px;
	margin-right: 30px;
	position: fixed;
	right: 0;
	z-index: 9999;

	a {
		background: #000;

		@include border-radius(500px);

		display: block;
		opacity: 0.2;
		text-decoration: none;

		@include transition(all 1s ease-in-out);

		width: 40px;

		&:hover,
		&:focus {
			color: #000;
			opacity: 1;
		}
	}

	.fa {
		color: #FFF;
		display: block;
		font-size: 1.5em;
		height: 40px;
		line-height: 35px;
		margin-bottom: 7px;
		text-align: center;
		width: 40px;
	}
}
