# EditorConfig is awesome: http://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
# Unix-style newlines
end_of_line = lf
# tab indentation
indent_style = tab
# Whitespace rules
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
[*.{js,php,scss,sass}]
charset = utf-8

[*.yml]
indent_style = space
indent_size = 2

[README.md]
indent_style = space
indent_size = 4

[composer.json]
indent_style = space
indent_size = 4
