/**
 * Scaffolding Critical Styles
 */

// Resets - installed via NPM
@import url("normalize.css");

html {
	height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: auto;
	overflow-x: hidden;

	#container {
		height: 100%;
	}
}

// Utilities
@import "utilities/all-utilities";

// Elements
@import "elements/typography";
@import "elements/links";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";
@import "elements/forms";
@import "elements/pagination";
@import "elements/comments";
@import "elements/widgets";
