/******************************************************************
Site Name:
Author:

Stylesheet: Editor Stylesheet

This stylesheet is only for the wysiwyg editor. We will import
our typography styles. Add any additional
custom styles here.

******************************************************************/

@import "utilities/all-utilities";

@import "elements/typography";
@import "elements/links";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";

.mceContentBody {
	background-color: #FDFDFD;
	max-width: map-get($container-max-widths, 'xl');
}
