/**
 * Scaffolding Footer Styles
 */

 @import "utilities/all-utilities";

 #colophon {
	background-color: $color__black;
	clear: both;
	color: $color__tertiary;
	font-size: 0.875em;

	.copyright {
		text-align: center;
		margin-bottom: 0;
	}

	a {
		color: $color__tertiary;
	}
}

#footer-widgets {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	@include make-container();
	@include make-container-max-widths();

	.footer-widgets__row {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;

		.footer-widgets__col {
			flex-grow: 1;
			min-height: 1px;
			position: relative;

			@include media-breakpoint-down('sm') {
				min-width: 100%;
			}
		}
	}
}

#inner-footer {
	padding-top: 1em;
	padding-bottom: 1em;
	@include make-container();
	@include make-container-max-widths();
}

ul.footer-menu {
	margin: 0 1px;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 -1px;
		padding: 0;

		a {
			border-left: 1px solid $color__tertiary;
			color: $color__tertiary;
			display: block;
			line-height: 1;
			padding: 0 0.675em;
		}

		&:first-child {
			a {
				padding-left: 0;
				border-left: 0;
			}
		}

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}

	ul.sub-menu {
		display: none; // hide child ul as design does not support it
	}
}

@import "modules/sticky-footer"; // need to add sticky-footer class to the body

@import "modules/back-to-top";
