/**
 * Scaffolding Sticky Footer Styles
 */


html,
body.sticky-footer {
	margin: 0;
}

body.sticky-footer {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	#container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.banner-wrap {
		flex-shrink: 0;
	}

	#content {
		flex-grow: 1;
	}
}
