@import url(https://fonts.googleapis.com/css?family=Lato:300italic,400italic,700italic,300,400,700);

body {
  font:14px/1.6 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

::-webkit-input-placeholder {
	color: #AAA;
	font-style: italic;
	font-weight: 300;
}
:-moz-placeholder {
	color: #AAA;
	font-style: italic;
	font-weight: 300;
}
::-moz-placeholder {
	color: #AAA;
	font-style: italic;
	font-weight: 300;
}
:-ms-input-placeholder {
	color: #AAA;
	font-style: italic;
	font-weight: 300;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 4em;
	margin: 0.5em 0 1.2em 0;
}

h2 {
	font-size: 2em;
	margin: 0 0 1em;
	line-height: 1.4;
}

h3 {
	font-size: 1.5em;
	line-height: 1.4;
}	

a, a:hover, a:focus, a:active, a:visited {
	color: #0085B2;
}	

a, em {
	font-weight: 400;
}

.bluebtn {
	display: inline-block;
	padding: 0.4em 1em;
	font-weight: 300;
	text-transform: uppercase;
	background: #0085B2;
	color: #FFF;
	font-size: 2em;
	border: 1px solid #0085B2;
	transition: background-color 0.5s ease;
}

	.bluebtn:hover, .bluebtn:focus {
		background: #0085B2;
		color: #FFF;
		text-decoration: none;
	}
	
.formbtn {
	display: block;
	border: 1px solid #444;
	background: none;
	text-transform: uppercase;
	color: #444;
	text-align: center;
	width: 180px;
	line-height: 1;
	margin: 1em auto 1.5em auto;
	padding: 0.5em 0 0.6em 0;
	transition: background-color 0.5s ease;
}

	.formbtn:hover, .formbtn:focus {
		background: #0078A1;
		color: #FFF;
		text-decoration: none;
		border: 1px solid #0078A1;
	}

em {
	color: #111;
}

.page-title {
	border-bottom: 1px solid #FFF4ED;
	padding-bottom: 0.3em;
}

.section-title {
	margin-bottom: 0.5em;
}

#header {
	background: url('../images/scaffolding-header.jpg') 44% 50% no-repeat fixed;
	background-size: cover;
	height: 655px;
	font-weight: 300;
	position: relative;
}

	body.get-started #header {
		height: 150px;
		background-position: 50% -450px;
	}
	
	body.get-started #header h1 {
		font-size: 2.375em;
		margin-top: 1.2em;
	}
	
	#header h1 {
		text-align: center;
	}
	
	h1 a {
		color: #333;
		font-weight: 300;
	}
	
	h1 a:hover {
		text-decoration: none;
		color: #333;
	}
		
	ul.inline-buttons {
		margin: 2.8em 0 1em 0;
		padding: 0;
		list-style: none;
		height: auto;
		overflow: hidden;
	}
		
		ul.inline-buttons li {
			display: inline-block;
		}
		
		ul.inline-buttons li.first-item {
			margin-right: 10px;
			float: left;
			width: 48%;
		}
		
		ul.inline-buttons li.last-item {
			float: right;
			width: 48%;
		}
		
		ul.inline-buttons li.only-item {
			float: right;
			width: 98%;
		}

			ul.inline-buttons li a {
				font-size: 1.2em;
				border: solid 1px #333;
				padding: .4em 0;
				width: 100%;
				display: block;
				color: #333;
				text-transform: uppercase;
				font-weight: 300;
				text-align: center;
				background: rgba(255, 255, 255, .2);
				transition: background-color 0.5s ease;
				border-radius: 0;
			}
	
				ul.inline-buttons li a:hover, ul.inline-buttons li a:focus {
					text-decoration: none;
					background: #0085B2;
					color: #FFF;
					border: 1px solid #0085B2;
				}
	
		h1 a {
			color: #333;
		}

		h1 a:hover {
			text-decoration: none;
			color: #333;
		}

	#getstarted {
		float: right;
		margin: 2.2em 0;
		font-size: 1.4em;
		border: solid 1px #000;
		padding: .4em .8em;
		color: #000;
		text-transform: uppercase;
		font-weight: 100;
		transition: background-color 0.5s ease;
	}

		#getstarted:hover {
			text-decoration: none;
			background: rgba(255, 255, 255, .4);
		}
		
	.headline-wrapper, .download-wrapper {
		position: absolute;
		left: 50%;
		width: 320px;
		margin-left: -160px;
	}
	
	.headline-wrapper {
		top: 60%;
	}
	
	.download-wrapper {
		top: 30%;
		text-align: center;
	}
	
		.download-wrapper h2 {
			display: block;
			line-height: 1.1;
			color: #FFF;
			font-weight: 400;
			font-size: 3.675em;
			margin-bottom: 0.6em;
			text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
		}

	.headline {
		display: block;
		line-height: 1;
		color: #FFF;
		text-align: center;
		background: rgba(0,0,0,0.1);
		text-shadow: 1px 3px 5px rgba(0,0,0,0.5);
		padding: 0.5em;
	}
	
	.headline .larger {
		font-size: 4em;
		font-weight: 400;
		display: block;
	}
	
	.headline .smaller {
		font-size: 2.675em;
		font-weight: 300;
		font-style: italic;
		display: block;
		margin-bottom: 0.5em;
		margin-top: 10px;
	}

.content {
	padding: 2em 0;
	font-size: 1.2em;
}

	body.home .content {
		font-size: 1.5em;
	}
	
	body.home #main.content {
		padding: 3em 0;
	}

	.content.dark {
		color: #ccc;
		background: #333;
	}
		.content.dark h2 {
			color: #fff;
		}

	body.home #main {
		text-align: center;
	}
	
	#download {
		background: #F0F0F0;
	}
	
		#download .control-label {
			font-size: 15px;
		}
		
		#download .help-block {
			font-size: 13px;
			margin-bottom: 0;
			font-style: italic;
		}
		
		#download .form-group {
			margin-bottom: 0;
		}
		
		#download .form-control {
			height: 45px;
			font-size: 0.875em;
			border-radius: 0;
			border: 1px solid #CCC;
			font-weight: 300;
		}
		
			#download .form-control:focus {
				border-color: #333;
				box-shadow: none;
			}
		
		#download form {
			max-width: 800px;
			margin: 0 auto;
		}
	
	#secondary {}
	
		body.home #secondary.content {
			padding: 2em 0 2.5em 0;
		}

		#secondary h2 {
			text-align: center;
		}

		#secondary ul {
			list-style: none;
			padding: 0;
		}

		#secondary li {
			margin-bottom: .5em;
			line-height: 1.2em;
		}

			#secondary li a,
			#secondary li a:visited {
				color: #AAA;
				font-weight: 300;
				transition: color 0.2s ease;
			}

			#secondary li a:hover {
				text-decoration: none;
				//color: #27ae60;
				color: #0085B2;
			}

		#secondary small {
			display: block;
			font-size: .7em;
			color: #777;
		}
		
			#secondary small em {
				font-weight: 300;
			}

	#secondary-image-separator {
		background: url('../images/scaffolding-bg-graphic.jpg') 50% 50% no-repeat fixed;
		background-size: cover;
		height: 700px;
		position: relative;
	}

		#secondary-image-separator .spacer {
			padding-top: 50%;
		}

	#tertiary {}
	
		body.home #tertiary.content {
			padding: 4em 0;
		}

		#tertiary h2 {
			margin: 0 0 .5em;
		}

	#fourth {}
	#fifth {
		background: #222;
	}
	
	section {
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #FFF7F2;
	}
	
#goods {
	margin-bottom: 2em;
}

#goods h2, #customize h2 {
	text-align: center;
}
	
.form-horizontal .control-label {
	padding-top: 0;
}

.form-horizontal input {
	box-shadow: none ;
	border-radius: 0;
}

.form-horizontal .help-block {
	font-style: italic;
}
	
#footer {
	background: #111;
	color: #999;
	padding: 2em 0 1em 0;
	font-weight: 400;
	font-size: 1em;
}

	#footer .menu {
		text-align: right;
		color: #999;
	}
	
		#footer .menu a {
			color: #999;
		}
		
		#footer .menu a:hover,
		#footer .menu a:focus {
			text-decoration: underline;
		}
		
		.hall-logo {
			display: block;
			margin-top: 20px;
		}
		
			.hall-logo img {
				display: block;
				margin: 0 auto;
				height: 50px;
			}
		
.pre-title {
	background: #CCC;
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
	padding: 2px 1em;
	margin-top: 1.5em;
}
		
pre {		
	overflow: auto;
	color: white;
	background: #1d1f21;
	padding: 0;
	font-size: 0.975em;
	font-family: Menlo, Monaco, monospace;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	position: relative;
	border-radius: 0;
	padding: 1em;
	border: 0;
	margin: 0 0 0.5em 0;
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
		
@media only screen and (min-width: 768px) {
	#header h1 {
		text-align: left;
		margin-top: 1em;
	}
	
	body.home ul.inline-buttons {
		margin-top: 4.8em;
	}
	
		body.home ul.inline-buttons li a {
			font-size: 1.35em;
		}

	.headline-wrapper, .download-wrapper {
		width: 740px;
		margin-left: -370px;
	}
	
		.download-wrapper h2 {
			font-size: 4.675em;
		}
	
		.headline {
			padding: 0.8em;
		}
	
			.headline .smaller {
				font-size: 3em;
			}
			
			.headline .larger {
				font-size: 5em;
			}
	
	body.get-started #header h1 {
		font-size: 3.5em;
		margin: 0.5em 0;
	}
	
	ul.inline-buttons li.only-item {
		width: 48%;
	}
	
	.form-horizontal .control-label {
		padding-left: 0 !important;
	}

	.form-horizontal .input-field {
		padding: 0 !important;
	}
	
	.hall-logo {
		margin-top: 0;
		position: relative;
		top: -10px;
	}
		
		.hall-logo img {
			height: 40px;
			float: right;
			margin: 0;
		}
		
	#footer .col-sm-7 {
		width: 58.333333%;
	}
	
	#footer .col-sm-2 {
		width: 16.666667%;
	}
}

@media only screen and (min-width: 1024px) {
	.headline-wrapper {
		width: 760px;
		margin-left: -380px;
	}
	
	.download-wrapper {
		width: 800px;
		margin-left: -400px;
	}
	
	#footer .col-sm-7 {
		width: 61.333333%;
	}
	
	#footer .col-sm-2 {
		width: 13.666667%;
	}
}
