@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300italic,700italic,300,700);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

h2 {
	font-size: 2em;
	margin: 0 0 1em;
}

#header {
	background: url('../images/scaffolding-header.jpg') 50% 50%;
	background-size: cover;
	height: 600px;
	font-weight: 100;
}

	h1 {
		margin: 1.2em 0;
		font-weight: 300;
		color: #333;
	}

	#getstarted {
		float: right;
		margin: 2.2em 0;
		font-size: 1.4em;
		border: solid 1px #000;
		padding: .4em .8em;
		color: #000;
		text-transform: uppercase;
		font-weight: 100;
		transition: background-color 0.5s ease;
	}
	
		#getstarted:hover {
			text-decoration: none;
			background: rgba(255, 255, 255, .4);
		}
		
	#headline {
		font-size: 2.5em;
		font-weight: 400;
		background: rgba(255,255,255,.4);
		display: inline-block;
		padding: 0 .5em;
		margin: 2em;
	}
		
.content {
	padding: 3em 0;
	font-size: 1.5em;
}

	.content.dark {
		color: #ccc;
		background: #333;
	}
		.content.dark h2 {
			color: #fff;
		}

	#main {
		text-align: center;
	}
	#secondary {}
	
		#secondary h2 {
			text-align: center;
		}
	
		#secondary ul {
			list-style: none;
			padding: 0;
		}
	
		#secondary li {
			margin-bottom: .5em;
			line-height: 1.2em;
		}
		
			#secondary li a,
			#secondary li a:visited {
				color: #ccc;
				transition: color 0.1s ease;
			}
			
			#secondary li a:hover {
				text-decoration: none;
				color: #999;
			}
	
		#secondary small {
			display: block;
			font-size: .7em;
			color: #777;
		}
	
	#secondary-image-separator {
		background: url('../images/scaffolding-bg-graphic.jpg') 50% 50%;
		background-size: cover;
	}
	
		#secondary-image-separator .spacer {
			padding-top: 50%;
		}
	
	#tertiary {}
	#fourth {}
	#fifth {
		background: #222;
	}
	
#footer {
	background: #000;
	color: #777;
	padding: 2em 0;
}

	#footer .menu {
		text-align: right;
	}