@import url(https://fonts.googleapis.com/css?family=Lato:300italic,400italic,700italic,300,400,700);

body {
  font:14px/1.6 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 4em;
	margin: 0.5em 0 1.2em 0;
}

h2 {
	font-size: 2em;
	margin: 0 0 1em;
	line-height: 1.4;
}

h3 {
	font-size: 1.5em;
	line-height: 1.4;
}	

a, em {
	font-weight: 400;
}

em {
	color: #d35400;
}

.page-title {
	border-bottom: 1px solid #FFF4ED;
	padding-bottom: 0.3em;
}

.section-title {
	margin-bottom: 0.5em;
}

#header {
	background: url('../images/scaffolding-header.jpg') 10% 50% no-repeat fixed;
	background-size: cover;
	height: 655px;
	font-weight: 300;
	position: relative;
}

	body.get-started #header {
		height: 150px;
		background-position: 50% -450px;
	}
	
	body.get-started #header h1 {
		font-size: 2.375em;
		margin-top: 1.2em;
	}
	
	#header h1 {
		text-align: center;
	}
	
	h1 a {
		color: #333;
		font-weight: 300;
	}
	
	h1 a:hover {
		text-decoration: none;
		color: #333;
	}
		
	ul.inline-buttons {
		margin: 2.8em 0 1em 0;
		padding: 0;
		list-style: none;
		height: auto;
		overflow: hidden;
	}
		
		ul.inline-buttons li {
			display: inline-block;
		}
		
		ul.inline-buttons li.first-item {
			margin-right: 10px;
			float: left;
			width: 48%;
		}
		
		ul.inline-buttons li.last-item {
			float: right;
			width: 48%;
		}
		
		ul.inline-buttons li.only-item {
			float: right;
			width: 98%;
		}

			ul.inline-buttons li a, .btn {
				font-size: 1.2em;
				border: solid 1px #000;
				padding: .4em 0;
				width: 100%;
				display: block;
				color: #000;
				text-transform: uppercase;
				font-weight: 300;
				text-align: center;
				background: rgba(255, 255, 255, .2);
				transition: background-color 0.5s ease;
				border-radius: 0;
			}
	
				ul.inline-buttons li a:hover {
					text-decoration: none;
					background: rgba(255, 255, 255, .4);
				}
				
	.headline-wrapper {
		margin-top: 2em;
	}
	
		h1 a {
			color: #333;
		}

		h1 a:hover {
			text-decoration: none;
			color: #333;
		}

	#getstarted {
		float: right;
		margin: 2.2em 0;
		font-size: 1.4em;
		border: solid 1px #000;
		padding: .4em .8em;
		color: #000;
		text-transform: uppercase;
		font-weight: 100;
		transition: background-color 0.5s ease;
	}

		#getstarted:hover {
			text-decoration: none;
			background: rgba(255, 255, 255, .4);
		}

	#headline {
		font-size: 4em;
		font-weight: 400;
		display: inline-block;
		margin: 5px 0;
		max-width: 800px;
		line-height: 1.1;
		color: #2980b9;
		background: rgba(255,255,255,0.1);
		padding: 0.5em;
		position: relative;
	}
	
	.headline.smaller {
		font-size: 2em;
		font-weight: 300;
		padding: 0.3em 0.9em;
	}
	
	.headline.larger {
		font-size: 4em;
		font-weight: 400;
		padding: 0.5em;
	}

.content {
	padding: 2em 0;
	font-size: 1.2em;
}

	body.home .content {
		font-size: 1.5em;
	}

	.content.dark {
		color: #ccc;
		background: #333;
	}
		.content.dark h2 {
			color: #fff;
		}

	body.home #main {
		text-align: center;
	}
	
	#download {
		background: #F0F0F0;
	}
	
	#secondary {}

		#secondary h2 {
			text-align: center;
		}

		#secondary ul {
			list-style: none;
			padding: 0;
		}

		#secondary li {
			margin-bottom: .5em;
			line-height: 1.2em;
		}

			#secondary li a,
			#secondary li a:visited {
				color: #ccc;
				font-weight: 300;
				transition: color 0.2s ease;
			}

			#secondary li a:hover {
				text-decoration: none;
				//color: #27ae60;
				color: #428bca;
			}

		#secondary small {
			display: block;
			font-size: .7em;
			color: #777;
		}
		
			#secondary small em {
				font-weight: 300;
			}
	
	#download .control-label {
		font-size: 15px;
	}
	#download .help-block {
		font-size: 13px;
	}

	#secondary-image-separator {
		background: url('../images/scaffolding-bg-graphic.jpg') 50% 50% no-repeat fixed;
		background-size: cover;
		height: 700px;
	}

		#secondary-image-separator .spacer {
			padding-top: 50%;
		}

	#tertiary {}

		#tertiary h2 {
			margin: 0 0 .5em;
		}

	#fourth {}
	#fifth {
		background: #222;
	}
	
	section {
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
		border-bottom: 1px solid #FFF7F2;
	}
	
.form-horizontal .control-label {
	padding-top: 0;
	padding-left: 0 !important;
}

.form-horizontal input {
	box-shadow: none ;
	border-radius: 0;
}

.form-horizontal .input-field {
	padding: 0 !important;
}

.form-horizontal .help-block {
	font-style: italic;
}
	
#footer {
	background: #111;
	color: #777;
	padding: 2em 0;
}

	#footer .menu {
		text-align: right;
		color: #777;
	}
	
		#footer .menu a {
			color: #777;
		}
		
		#footer .menu a:hover,
		#footer .menu a:focus {
			text-decoration: underline;
		}
		
		.hall-logo {
			display: block;
			margin-top: 20px;
		}
		
			.hall-logo img {
				display: block;
				margin: 0 auto;
				height: 50px;
			}
		
.pre-title {
	background: #CCC;
	font-size: 1em;
	font-style: italic;
	font-weight: 400;
	padding: 2px 1em;
	margin-top: 1.5em;
}
		
pre {		
	overflow: auto;
	color: white;
	background: #1d1f21;
	padding: 0;
	font-size: 0.975em;
	font-family: Menlo, Monaco, monospace;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	position: relative;
	border-radius: 0;
	padding: 1em;
	border: 0;
	margin: 0 0 0.5em 0;
}

pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
		
@media only screen and (min-width: 768px) {
	#header h1 {
		text-align: left;
		margin-top: 1em;
	}
	
	body.home ul.inline-buttons {
		margin-top: 4.8em;
	}
	
		body.home ul.inline-buttons li a {
			font-size: 1.35em;
		}

	.headline-wrapper {
		margin-top: 3em;
	}
	
	.headline.smaller {
		font-size: 3em;
	}
	
	.headline.larger {
		font-size: 5em;
	}
	
	body.get-started #header h1 {
		font-size: 3.5em;
		margin: 0.5em 0;
	}
	
	ul.inline-buttons li.only-item {
		width: 48%;
	}
	
	.hall-logo {
		margin-top: 0;
		position: relative;
		top: -10px;
	}
		
			.hall-logo img {
				height: 40px;
				float: right;
				margin: 0;
			}
}
