/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*
CONTENTS:
1. General Styles
2. Layout & Grid Styles
3. Header Styles
4. Navigation Styles
5. Posts & Content Styles
6. Page Navigation Styles
7. Comment Styles
8. Comment Form Styles
9. Sidebars & Asides
10. Footer Styles
*/

/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
//	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {}
	#logo {}
	#banner {
		background-position:top center;
		background-repeat:no-repeat;
		background-size: cover;

		.spacer {
			padding-top: 26%; // change this value based on the aspect ratio of your header image
		}
	}

/*********************
NAVIGATION STYLES
*********************/
ul.menu {

	li {

		a {

			&:hover, &:focus {}
		}

		&:first-child {}
		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}
				&:last-child {}

				ul {}
			}
		}
	}
}/*end ul.menu*/

/****Main Navigation****/

#main-navigation {
	background-color: #333;
	white-space: nowrap;

    ul.menu {
	    text-align:center;
        width: auto;
        position:relative;
        top:auto;
        bottom:autp;
        right:auto;
        padding: 0;
        margin: 0 auto;
        @include box-shadow(none);

		li {
			display:inline-block;
            border-bottom:none;
			position:relative;
			z-index:1000;
			margin-left:-4px;

			a {
				display:inline-block;
				border-left:2px solid #222;
				width:auto;
				padding:10px 20px;

				&:hover, &:focus {}
			}
            a.menu-button{
                display:none!important;
            }

			a.menu-back-button{
                display:none!important;
            }

            &:first-child {

				a{
					border-left:none;
				}
            }

            &:last-child  {

	            /*Children*/
				ul.sub-menu,
				ul.children {
					left:auto;
					right:0;

					li{

						/*Grand Children*/
						ul.sub-menu,
						ul.children {
							left:auto;
							right:99.9%;
						}
					}
				}
            }

            &:hover, &:focus {}

			&.menu-item-no-children {

				a {
				    width:auto;
			    }
			}

			&.menu-item-has-children {}

			/*Children*/
			ul.sub-menu,
			ul.children {
				display:none;
				background-color:#333;
				text-align:left;
				width:auto;
				min-width:120%;
				position:absolute;
				top:99.9%;
				bottom:auto;
				left:0px;
				z-index:1000;
				@include transition(top 1s);

				li {
					display:block;
					white-space:nowrap;
					margin:0;

					a {
						display:block;
						border-bottom:2px solid #222;
						border-left:none;
						padding:10px;

						&:hover, &:focus {}
					}


		            &:first-child  {}

		            &:last-child  {}

		            &:hover, &:focus {}

					&.menu-item-no-children {}

					&.menu-item-has-children {}

					/*Grand Children*/
					ul.sub-menu,
					ul.children {
						left:99.9%;
						top:0;
					}
				}
			}

		} /* end .menu li */

		/*Show the child ul*/
		li:hover > ul {
			display: table;
		}

	} /* end ul.menu */
	/*menu buttons*/
	.menu-button{
		display:none;
	}
} /* end #main-navigation */

/*********************
POSTS & CONTENT STYLES
*********************/

#content {

	#inner-content{

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.entry-content {} /* general title class */

		.page-title {}

		.single-title {}

		.archive-title {}

		.search-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {

			time {}
		}

		/* entry content */
		.entry-content {

			p {}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {}
		}
	}

}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		&.first-widget {
			margin: 0 0 2.2em;
		}

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
ul.footer-menu {
	li {
		a {
			&:hover {}
		}
		/*
		be careful with the depth of your menus.
		it's very rare to have multi-depth menus in
		the footer.
		*/
		ul {}
	}
}

#back-top {
	a {
		opacity: 1;
	}
}


/*********************
STICKY FOOTER STYLES
*********************/

html,
body.sticky-footer {
	height: 100%;
	margin: 0;
}

body.sticky-footer {

	#container {
	    display: table;
	    width: 100%;
	}

	#container .header,
	#main-navigation,
	#container .banner-wrap,
	#content,
	#container .footer {
	    display: table-row;
	    height: 1px;
	    overflow: hidden;
	}
}

html>/**/body.sticky-footer #container {
    height: 100%;
}

html>body.sticky-footer #content {
    height: auto;
}