/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*
CONTENTS:
1. General Styles
2. Layout & Grid Styles
3. Header Styles
4. Navigation Styles
5. Posts & Content Styles
6. Page Navigation Styles
7. Comment Styles
8. Comment Form Styles
9. Sidebars & Asides
10. Footer Styles
*/

.container-fluid,
.wrap {
	max-width: $container-lg;
}