/******************************************************************
Site Name:
Author:

Stylesheet: Sticky Footer Stylesheet

You must add sticky-footer to the body class in header.php.

******************************************************************/

html,
body.sticky-footer {
	height: 100%;
	margin: 0;
}

body.sticky-footer {
	overflow-x: visible;

	#container {
		display: table;
		width: 100%;
	}

	#container .header,
	#main-navigation,
	#container .banner-wrap,
	#content,
	#container .footer {
		display: table-row;
		height: 1px;
		overflow: hidden;
	}
}

html > body.sticky-footer #container,
html > body.sticky-footer #content {
	height: 100%;
}
