/******************************************************************
Site Name:
Author:

Stylesheet: Sticky Footer Stylesheet

You must add sticky-footer to the body class in header.php.

******************************************************************/

html,
body.sticky-footer {
	height: 100%;
	margin: 0;
}

body.sticky-footer {
	min-height: 100vh;
	overflow-x: visible;

	#container {
		min-height: 100vh;
		@include flexbox(flex);
		@include flex-direction(column);
	}

	#content {
		@include flex(1 0 auto);
	}
}
