/******************************************************************
Site Name:
Author:

Stylesheet: Sticky Footer Stylesheet

You must add sticky-footer to the body class in header.php.

******************************************************************/

html,
body.sticky-footer {
	margin: 0;
}

body.sticky-footer {
	min-height: 100%;
	@include flexbox(flex);
	@include flex-direction(column);

	#container {
		min-height: 100vh;
		@include flexbox(flex);
		@include flex-direction(column);
	}

	.banner-wrap {
		@include flex-shrink(0);
	}

	#content {
		@include flex-grow(1)
	}
}
