/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Comments Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*
CONTENTS:
1. Comment Form Styles
2. Comments Styles
*/

/*********************
COMMENT FORM STYLES
*********************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		ul {

			margin: 0;

			li {
				list-style-type: none;
				clear: both;
				margin-bottom: 0.7335em;
				margin-left: 0;

				label,
				small {
					display: none;
				}
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}
	


/*********************
COMMENTS STYLES
*********************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin-left: 0 0 0 3em;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			margin: 0;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

		ul, ol {
			li {
				overflow: visible;
				list-style-type: inherit;
			}
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */
