/******************************************************************
Site Name:
Author:

Stylesheet: Forms Stylesheet

******************************************************************/

/* Browser Specific */

::-webkit-input-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}
:-moz-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}
::-moz-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}
:-ms-input-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* LABEL */

label {
	font-weight: bold;
}

/* INPUTS */

textarea,
input[type=text],
input[type=url],
input[type=email],
input[type=tel],
input[type=number],
input[type=password] {
	outline: none;
	background:#FFF;
	border:1px solid #CCC;
	color: #444;
	font-size: .9em;
	letter-spacing: normal;
	padding: 8px 1%;
	@include transition(all 0.25s ease-in-out);
	border-radius: 0;
	
	&:focus {
		border:1px solid #333;
	}
}

input[type=image] {
	padding: 0;
	border: none !important;
	padding: 0 !important;
	width: auto !important;
}

textarea {
	resize: none;
}

select { // Default select if Javascript is disabled
	font-size: 1em;
	font-family: inherit;
	padding: 5px 0 5px 0;
	letter-spacing: normal;

	option {
		padding: 2px 2px;
		display: block;
	}
}

input[type=submit],
input[type=button] {
	display: inline-block;
	width: 100%;
	padding: 0.5em 0;
	margin-bottom: 0;
	font-size: 1.125em;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #444;
	border: 0;
	border-radius: 0;
	font-family: $sans;
	@include transition(all 0.25s ease-in-out);
	
	&:hover, &:focus, &:active, .active, .disabled, [disabled] {
		color: #FFF;
		background: darken(#444, 5%);
		text-decoration: none;
	}
	
	&:focus {
		outline: thin dotted #333 !important;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}
	
	&:active {
		outline: 0;
	}
	
	&.disabled, [disabled] {
		cursor: default;
		background-image: none;
		opacity: 0.65;
		filter: alpha(opacity=65);
		@include box-shadow(none);
	}
	
	&:first-child {
		*margin-left: 0;
	}
}

/************************
 * SearchForm Styles
 ************************/
 
#searchform{

	label {
		display:none;
		/* Style to show label in line with text field
		display:inline-block;
		*display:inline;*/
		font-size:0.750em;
		text-transform: uppercase;
		width:20%;
	}

	//Text input
	#s {
		outline:none;
		background:#FFF;
		border:1px solid #CCCCCC;
		@include box-shadow(none);
		@include border-radius(0);
		color: #555555;
		@include transition(all 0.25s ease-in-out);
		width:75%;
		padding:2px 1%;

		&:focus {
			border:1px solid #AAA;
		}

	}

	//Submit Button
	#searchsubmit {
		padding: 7px 15px;
	}
}

/*Search Styles on 404 page*/
.error404 {
	#searchform {
		label { font-weight: bold; }
		#s {}
		#searchsubmit {}
	}
}

/************************
 * Password Form Styles
 ************************/
 
.post-password-form {
	p {}
	label {}
	input[type=submit] {}
}

@media only screen and (min-width: $screen-sm-min) {

	input[type=button],
	input[type=submit] {
		width: auto;
		padding: 0.5em 3em;
	}

}

@media only screen and (min-width: $screen-md-min) {}

@media only screen and (min-width: $screen-lg-min) {}
