/******************************************************************
Site Name:
Author:

Stylesheet: Forms Stylesheet

******************************************************************/

/**
* Placeholders
*/

::-webkit-input-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}

:-moz-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}

::-moz-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}

:-ms-input-placeholder {
	color: #CCC;
	font-style: italic;
	font-weight: 400;
}


/**
* Labels
*/

label {
	font-weight: bold;
}


/**
* Inputs
*/

textarea,
select,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 0;
	color: #444;
	font-size: .9em;
	letter-spacing: normal;
	outline: none;
	padding: 8px 1%;
	@include transition(all 0.25s ease-in-out);
	width: 100%;

	&:focus {
		border: 1px solid #333;
	}
}

input[type="image"] {
	border: none;
	padding: 0;
	width: auto;
}

textarea {
	resize: none;
}

select {
	font-size: 1em;
	font-family: inherit;
	letter-spacing: normal;
	padding: 5px 0 5px 0;

	option {
		display: block;
		padding: 2px 2px;
	}
}


/**
* Submit & Buttons
*/

input[type="submit"],
input[type="button"] {
	background: #222;
	border: 0;
	border-radius: 0;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: $sans;
	font-size: 1.125em;
	font-weight: 700;
	margin-bottom: 0;
	padding: 0.75em 0;
	text-align: center;
	@include transition(all 0.25s ease-in);
	vertical-align: middle;
	width: 100%;

	&:hover, 
	&:focus, 
	&:active, 
	.active, 
	.disabled, 
	[disabled] {
		background: #000;
		color: #FFF;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted #333 !important;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	&:active {
		outline: 0;
	}

	&.disabled, 
	[disabled] {
		background-image: none;
		cursor: default;
		filter: alpha(opacity=65);
		opacity: 0.65;
		@include box-shadow(none);
	}

	&:first-child {
		*margin-left: 0;
	}
}


/************************
 * SEARCH FORM STYLES
 ************************/

 #searchform {

	label {
		display: none;
		/* Style to show label in line with text field
		display: inline-block;
		*display: inline;*/
		font-size: 0.750em;
		font-weight: bold;
		text-transform: uppercase;
		width: 20%;
	}

	#s { 
		width: 100%; 
	}

    #searchsubmit {
        padding-left: 0;
        padding-right: 0;
		width: 100%;
    }
}


/************************
 * PASSWORD FORM STYLES
 ************************/

.post-password-form {
	
	p {}
	
	label {}
	
	input[type="submit"] {}
}


/************************
 * MEDIA QUERIES
 ************************/

@media only screen and (min-width: $screen-sm-min) {

	input[type="button"],
	input[type="submit"] {
		padding-left: 3em;
        padding-right: 3em;
		width: auto;
	}

}

@media only screen and (min-width: $screen-md-min) {

	/*Search Styles*/
    #searchform {
        height: 34px;
        overflow: hidden;

        #s {
			float: left;
            width: 70%;
        }
		
        #searchsubmit {
			float: right;
            padding-top: 0.35em;
            padding-bottom: 0.35em;
			width: 30%;
        }
    }

}

@media only screen and (min-width: $screen-lg-min) {}