/******************************************************************
Site Name:
Author:

Stylesheet: Typography Stylesheet

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
@import "compass";
@import "variables";
@import "mixins";

/********************
CUSTOMIZED RESET VALUES
*********************/
body {
	font-family: $sans;
	font-size: $default-font-size;
	line-height: 1.5;
	color: #111;
}
p {
	-webkit-hyphens: manual;
	-epub-hyphens: manual;
	-moz-hyphens: manual;
	hyphens: manual;
}
ul, ol {
	padding:0;
	margin:.5em;
}
ul {
	list-style-type:disc;
}
ol {
	list-style-type:decimal;
}

ul li > ul,
ul li > ol,
ol li > ol,
ol li > ul {
	margin-top: 5px;
}

	ul ul,
	ul ol,
	ol ul,
	ol ol {
		margin:0em .5em;
	}

li {
	margin-left:2em;
	margin-bottom:.5em;
}

blockquote {
	&:before {}
}

dl {}
dt {}
dd {
	margin-left: 0;
	font-size: 0.9em;
	color: #787878;
	margin-bottom: 1.5em;
}

b, strong, .strong {
	font-weight: bold;
}

cite, dfn, em, i, .em {
	font-style: italic;
}

small, .small {
	font-size: 75%;
}

hr {
	clear:both;
}

img {
	max-width: 100%;
	height: auto;
}

video {
	width: 100% !important;
	height: auto !important;
}

abbr[title],
abbr[data-original-title] {
	cursor: help;
	border-bottom: 1px dotted #999999;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #eeeeee;
}

blockquote p {
	margin-bottom: 0;
	font-size: 17.5px;
	font-weight: 300;
	line-height: 1.25;
}

blockquote small {
	display: block;
	line-height: 20px;
	color: #999999;
}

blockquote small:before {
	content: '\2014 \00A0';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
}

address {
	display: block;
	margin-bottom: 20px;
	font-style: normal;
	line-height: 20px;
}

code,
pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333333;
	border-radius: 0;
}

code {
	padding: 2px 4px;
	color: #d14;
	white-space: pre-wrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	display: inline-block;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
}

pre code {
	padding: 0;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: transparent;
	border: 0;
}

hr {
	margin: 1.429em 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

.screen-reader-text {
	display: none;
}

/*********************
* TABLE STYLES
*********************/
table {
	border-collapse: separate;
	border-spacing: 1px;
	margin: 10px 0px 15px 0px;
	width: 100%;
	text-align: left;

	thead {
		text-align: center;
	}

	th {
		background-color: #E6EEEE;
		border: 1px solid #FFFFFF;
		padding: 4px;
		color: #3D3D3D;
		text-align: center;
	}

	td {
		border: solid 1px #e1e1e1;
		color: #3D3D3D;
		padding: 4px;
		vertical-align: top;
	}
	tr:nth-child(even),
	tr.even{
		background-color: #FFFFFF;
	}
	tr:nth-child(odd),
	tr.odd{
		background-color: #F0F0F6;
	}

	tr:hover{}
}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color:$link-color;
	text-decoration:none;
}

/* on hover */
a:hover, a:focus {
	color:$link-hover-color;
	text-decoration:underline;
}

/* on click */
a:active {}

a:link {
	-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2, .h2 {
	font-size: 1.75em;
	margin: 0.83em 0;
}

h3, .h3 {
	font-size: 1.25em;
	margin: 1em 0;
}

h4, .h4 {
	font-size: 1.1em;
	margin: 1.33em 0;
}

h5, .h5 {
	font-size: 0.846em;
	margin: 1.67em 0;
}

h6, .h6 {
	font-size: 0.746em;
	margin: 2.33em 0;
}
/******************************************************************
 TINYMCE STYLES DROPDOWN
******************************************************************/
.underline {
	text-decoration:underline;
}

.italic {
	font-style:italic;
}

.bold {
	font-weight:bold;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* image alignment */
.alignleft, img.alignleft {
	float: left;
	margin: 0 15px 10px 0;
}

.alignright, img.alignright {
	float: right;
	margin: 0 0 10px 15px;
}

.aligncenter, img.aligncenter {
	display: block;
	margin: 0 auto 10px auto;
}

.alignnone, img.alignnone {
	display: block;
	margin: 0 0 10px 0;
}

.aligncenter, img.aligncenter,
.alignnone, img.alignnone {
	clear: both;
}

/*Image Caption*/
.wp-caption {
	max-width:100%!important;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/*Image Gallery*/
.gallery {

    .gallery-item {
        display:inline-block;
        margin:1%;
        overflow: hidden;
        position: relative;

        .gallery-icon {
            text-align:center;

            a{

                img{ vertical-align:bottom; }
            }
        }
    }

    & > br{ display:none; }
}

.gallery-caption {
    background-color:rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0.7);
    color:#fff;
    font-size:0.8em;
    text-align: left;
    line-height:1;
    opacity: 0;
    max-height: 75%;
    width: 100%;
    padding: 3px 5px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
	.gallery-caption {
		display: none;
	}
}

.gallery-columns-1 {
	.gallery-item {
		width:98%;
	}
}
.gallery-columns-2 {
	.gallery-item {
		width:48%;
	}
}
.gallery-columns-3 {
	.gallery-item {
		width:31.3%;
	}
}
.gallery-columns-4 {
	.gallery-item {
		width:23%;
	}
}
.gallery-columns-5 {
	.gallery-item {
		width:18%;
	}
}
.gallery-columns-6 {
	.gallery-item {
		width:14.6%;
	}
}
.gallery-columns-7 {
	.gallery-item {
		width:12.2%;
	}
}
.gallery-columns-8 {
	.gallery-item {
		width:10.5%;
	}
}
.gallery-columns-9 {
	.gallery-item {
		width:9.1%;
	}
}

/*Core Media Player*/
.mejs-container {

	.mejs-controls{

		.mejs-button{}

		.mejs-playpause-button{}
		.mejs-play{}
		.mejs-pause{}

		.mejs-time{}
		.mejs-currenttime-container{}
		.mejs-duration-container{}

		.mejs-time-rail{}

		.mejs-volume-button{}
		.mejs-mute{}
		.mejs-unmute{}

		.mejs-fullscreen-button{}
		.mejs-fullscreen{}
		.mejs-unfullscreen{}
	}
}

/*video player*/
.mejs-video{
	width: 100% !important;
	height: auto !important;
	padding-top: 57%;

	.mejs-inner{

		.mejs-mediaelement{

			video{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}

		.mejs-layers{

			.mejs-layer{

				.mejs-overlay-loading{}

				.mejs-overlay-error{}

				.mejs-overlay-button{}

			}

			.mejs-poster{
				width: 100% !important;
				height: 100% !important;
			}
		}

		.mejs-overlay{}

		.mejs-overlay-play{
			width: 100% !important;
			height: 100% !important;
		}

		.mejs-controls{}
	}
}

/*audio player*/
.mejs-audio{
	.mejs-inner{

		.mejs-mediaelement{

			audio{}
		}

		.mejs-layers{

			.mejs-layer{}

			.mejs-poster{}
		}

		.mejs-controls{

			.mejs-horizontal-volume-slider{

				.mejs-horizontal-volume-total{}

				.mejs-horizontal-volume-current{}

				.mejs-horizontal-volume-handle{}
			}

			.mejs-mute{}

			.mejs-unmute{}
		}
	}
}

/* Audio Playlist */
.wp-playlist {
	overflow: hidden;
	
	.wp-playlist-current-item {
		
		img {}
		
		.wp-playlist-caption {
		
			.wp-playlist-item-title {}
			
			.wp-playlist-item-artist {}
			
		}
		
	}
	
	.wp-playlist-next {}
	
	.wp-playlist-prev {}
	
	.wp-playlist-tracks {
	
		.wp-playlist-item {
		
			&.wp-playlist-playing {}
		
			.wp-playlist-caption {
				display: block;
			
				.wp-playlist-item-title { @include truncateText(ellipsis); }
			
			}
			
			.wp-playlist-item-length {}
			
		}
	
	}
	
}


/*Block Quote Alignment*/
blockquote.left {}
blockquote.right {}

/*Image Sizes*/
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}


.wp-smiley {}

/*Use this class for any Editor Specific Styles to help the user experience
 * set the max size of the content area in the editor to match the template*/
.mceContentBody {
	background-color:#FDFDFD;
}
