/******************************************************************
Site Name:
Author: Hall Internet Marketing
Stylesheet: Variables

******************************************************************/

$sans: sans-serif;
$serif: serif;
$default-font-size: 14px;

$link-color:#008CBA;
$link-hover-color:#007BA1;