/******************************************************************
Site Name:
Author:

Stylesheet: Comments Stylesheet

******************************************************************/

/************************
 * COMMENT FORM
 ************************/

.respond-form,
.comment-respond {
	@include clearfix;

	#reply-title {
		font-weight: bold;
		
		small {
			display: block;
			font-weight: normal;
			margin-top: 1em;
		}
	}

	form {
		margin: 0.75em 0;

		p {
			margin: 0 0 0.75em;
		}

		ul {
			margin: 0;

			li {
				clear: both;
				list-style-type: none;
				margin-bottom: 0.7335em;
				margin-left: 0;

				label,
				small {
					display: none;
				}
			}
		}

		input[type="text"],
		input[type="email"],
		input[type="url"],
		textarea {
			width: 100%;

			&:focus {}

			/* form validation */
			&:invalid {
				background-color: #f6e7eb;
				border-color: #fbc2c4;
				box-shadow: none;
				outline: none;
			}
		}

		input[type="text"],
		input[type="email"],
		input[type="url"] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			height: 150px;
		}

		label {
			clear: both;
			display: block;
			font-weight: bold;
			line-height: 1.3em;
			margin: 10px 0 4px 0;

			.required {
				color: #AF3124;
			}
		}
	}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	.form-allowed-tags {
		margin: 1em 0 1.675em 0;

		code {
			display: block;
			margin-top: 0.5em;
			overflow: hidden;
		}
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}
}

/************************
 * COMMENTS
 ************************/

/* h3 comment title */
#comments {
	/* number of comments span */
	span {}
}

#comment-nav-above {
	margin-bottom: 2em;
}

#comment-nav-below {
	margin-top: 1em;
	margin-bottom: 1em;
}

.comment-navigation {
	@include clearfix;

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
		text-align: right;
	}
}

.commentlist {
	margin: 0;
	padding: 0;

	li {
		clear: both;
		list-style-type: none;
		margin-bottom: 1em;
		overflow: hidden;
		padding: 0;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		.children {
			margin: 0;

			li {
				margin-left: 0 0 0 3em;
			}

			/* variations */
			.comment {}

			.alt {}

			.odd {}

			.even {}

			.depth-1 {}

			/* change number for different depth */
			.byuser {}

			.bypostauthor {}

			.comment-author-admin {}
		}

		/* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li.depth-2 {}

	li.depth-3 {}

	li.depth-4 {}

	li.depth-5 {}

	/* general comment classes */
	.alt {}

	.odd {}

	.even {}

	.parent {}

	.comment {}

	.children {}

	.pingback {}

	.bypostauthor {}

	.comment-author {}

	.comment-author-admin {}

	.thread-alt {}

	.thread-odd {}

	.thread-even {}

	/* vcard */
	.vcard {
		height: auto;
		min-height: 32px;
		position: relative;

		.fn {
			font-weight: 700;
			font-style: normal;
			font-size: 1.25em;
			margin-left: 50px;

			.url {}
		}

		time {
			display: block;
			margin-left: 50px;
			
			a {
				font-size: 0.9em;
				font-weight: 300;
			}

			.comment-date-link {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.photo {}

		.avatar,
		.photo {
			border: 1px solid #DDD;
			left: 0;
			margin: 0;
			position: absolute;
			top: 0;

			@include border-radius(50%);
		}
		
		.comment-edit-link {
			margin-left: 0.5em;
			font-size: 0.875em;
		}
	}

	/* end .commentlist .vcard */

	/* comment meta */
	.comment-meta {
		a {}
	}

	.commentmetadata {
		a {}
	}

	.alert.info {
		p {
			color: #AF3124;
			font-style: italic;
		}
	}

	/* comment content */
	.comment_content {
		border: 1px solid #DDD;
		clear: both;
		margin-top: 1em;
		padding: 0.5em 0.5em 0.5em 1.5em;

		p {
			font-size: 1em;
			line-height: 1.5em;
			margin: 1em 0;
		}

		ul,
		ol {
			li {
				list-style-type: inherit;
				overflow: visible;
			}
		}
	}

	/* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		color: $color__link;
		float: right;
		font-size: 0.9em;
		font-weight: 400;
		margin: 0.5em 0 1em 0;
		padding: 5px 15px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color__link-hover;
			text-decoration: none;
		}

		&:after {
			content: "\f112";
			font-family: "FontAwesome";
			padding-left: 5px;
		}
	}

	/* end .commentlist .comment-reply-link */
}

/* end .commentlist */
