/******************************************************************
Site Name:
Author:

Stylesheet: Widgets Stylesheet

******************************************************************/

.widget {
	margin: 2.2em 0;
	padding: 0;

	&:first-child {
		margin: 0 0 2.2em;

		.widgettitle {
			margin-top: 0;
		}
	}

	&:last-child {
		margin: 2.2em 0 0;
	}

	&:only-child {
		margin: 0;

		.widgettitle {
			margin-top: 0;
		}
	}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	// list styles
	ul,
	ol {
		list-style: none;

		li {
			margin-left: 0;
			margin-bottom: 0.75em;

			&:first-child {}

			&:last-child {}

			a {}

			ul,
			ol {
				margin-top: 0.75em;
				margin-left: 2em;
				margin-right: 0;
			}
		}
	}

	// hyphenate long words
	a,
	p,
	li,
	.widgettitle {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

/*************************
 * DEFAULT WIDGETS
 ************************/

/* Archives */
.widget_archive {
	select {}

	option {}
}

/* Calendar */
.widget_calendar {}

#calendar_wrap {
	overflow-x: auto;

	// make sure table doesn't overflow
}

#wp-calendar {
	caption {
		margin-bottom: 0.5em;
	}

	tr {}

	td {
		text-align: center;
		vertical-align: middle;
	}

	th {}

	thead {}

	tfoot {
		td {
			background: #FFF;
			border: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	tbody {}

	#next,
	#prev {
		a {
			font-size: 0.9em;
		}
	}

	#next {
		text-align: right;
	}

	#prev {
		text-align: left;
	}

	.pad {
		background: #FFF;
	}
}

/* Categories */
.widget_categories {
	select {}

	option {}
}

/* Custom Menu */
.widget_nav_menu {
	ul {
		li {
			a {}
		}
	}
}

/* Meta */
.widget_meta {
	ul {
		li {
			a {}
		}
	}
}

/* Pages */
.widget_pages {
	ul {
		li {
			a {}
		}
	}
}

/* Recent Comments */
.widget_recent_comments {
	#recentcomments {}

	.recentcomments {}

	a {}

	.comment-author-link {}
}

/* Recent Posts */
.widget_recent_entries {
	ul {
		li {
			a {}

			.post-date {
				display: block;
				color: #999;
				font-size: 0.875em;
				font-style: italic;
			}
		}
	}
}

/* RSS */
.widget_rss {
	ul {
		li {
			margin-bottom: 1em;

			.rsswidget {}

			.rss-date {
				display: block;
				color: #999;
				font-size: 0.875em;
				font-style: italic;
			}

			.rssSummary {
				margin: 0.5em 0;
				font-size: 0.875em;
			}

			cite {
				color: #999;
			}
		}
	}
}

/* Search */
.widget_search {
	#searchform {}

	label {}

	#s {}

	#searchsubmit {}
}

/* Tag Cloud */
.widget_tag_cloud {
	.tagcloud {}

	a {}
}

/* Text */
.widget_text {
	.textwidget {}

	p {}
}
